aiohttp==3.6.2
aresponses==2.0.0
async_timeout==3.0.1
asynctest==0.13.0
defusedxml==0.6.0
maya==0.6.1
pre-commit==2.0.1
pylint==2.5.2
pytest-asyncio==0.10.0
pytest-cov==2.8.1
pytest==5.3.5
python==3.6.1
